ul {
	list-style: none;
}

.company-card {
	width: 60%;
	margin: auto;
	padding: 12px;
}

.company-name {
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-area {
	margin: auto;
}

.search-form {
	margin: auto;
}
